.idea/
cmake-build-debug/
cmake-build-release/
*.iws
out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.cache
.lib/
web-gateway/public/
local.sbt
target-2.10/
target-2.11/
generated_code/
.history
*.ipr
/out/
*.class
*.log
dist/
.scala_dependencies
.worksheet
logs
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules/
bower_components
jspm_packages
.npm
.node_repl_history
client-elm/elm-stuff/
client-elm/examples/
repl-temp-*
.awcache/